Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.wagnersociety.v2008.coreserver.jp$ [NC]
RewriteRule ^(.*)$ http://wagnersociety.v2008.coreserver.jp/awstats/$1 [R=301,L]
